{% extends 'base.html' %}
<!-- page title-->
{% block title %}
  {{data.Product_name}}
{% endblock %}
{% block page_heading%}
  Reveiw Analysis
  <!--Page heading-->
{% endblock %}
{% block link_scripts %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
{% endblock %}
{% block content %}
  <div class="main_div">
    <br>
    <div class="image_holder">
      <div>
        <br>
        <img class="Product_image" src="{{data.Images}}" alt="Laptop"></img>
        <br>
      </div>
      <div class="analysis">  
          {% if data.Avg_rev_rating == 0.0 %}
          <a href="{{data.Review_link}}"><button>well no one is perfect get over it!</button></a>
          {% else %}
            <br>
            <span class="rat_chart">
              <canvas id="ratings"></canvas>
              <h6>Number of votes for each star</h6>
            </span>
            <br>
            <span class="tone_chart">
              <canvas id="tone"></canvas>
              <h6>Tone of the reviews</h6>
            </span>
            <br>
          {% endif %}
      </div>
      <br>
    </div>
    <div class="details_holder">
      <div class="products_details">    
          <span><a href="{{data.Link}}" style="color: black"><h4>{{data.Product_name}}</h4></a></span>
          <br>
          <span> <h5>Price:{{data.Price}}</h5></span>
          <br>
          <span><h5>Rating: {{data.Rating}} out of 5</h5></span>
          <br>
          <span><h5>Number of Reveiws: {{data.number_of_reviews}}</h5></span>
          <br>
          <span><h5>Average Rating : {{data.Avg_rev_rating}}</h5></span>
      </div>
      <div>
      <br>
      <a href="{{data.Review_link}}"><button>Well The dev ran out of coffee so wait while he gets this page up!</button></a>
      <br>
      </div>
    </div>
    <div>
    </div>
  </div>
  <script>
    var rev_list={{data.rev_rat_dist}}
    const ctx = document.getElementById('ratings').getContext('2d');
    const ratings = new Chart(ctx, {
      type: 'bar',
      data: {
      labels: ['5 stars', '4 stars', '3 stars', '2 stars', '1 star'],
      datasets: [{
      label: 'Ratings',
      data: rev_list,
      backgroundColor: [
        'rgba(255, 206, 86, 0.7)',
        'rgba(255, 206, 86, 0.7)',
        'rgba(255, 206, 86, 0.7)',
        'rgba(255, 206, 86, 0.7)',
        'rgba(255, 206, 86, 0.7)',
      ],
      borderColor: [
        'rgba(0, 0, 0, .4)',
        'rgba(0, 0, 0, .4)',
        'rgba(0, 0, 0, .4)',
        'rgba(0, 0, 0, .4)',
        'rgba(0, 0, 0, .4)',
      ],
      borderWidth: 1
      }]
      },
    options: {
      maintainAspectRatio: false,
      indexAxis: 'y',
      scales: {
        
        y: {
          beginAtZero: true
        }
      }
    }
    });
    var tone_list={{data.rev_tone_dist}}
    var ctx_2 = document.getElementById("tone").getContext('2d');
            var data_2 = {
                datasets: [{
                    data: tone_list,
                    backgroundColor: [
                        '#3c8dbc',
                        '#f56954',
                        '#f39c12',
                    ],
                }],
                labels: [
                    'Neutral',
                    'Good',
                    'Bad'
                ]
            };
            var myDoughnutChart_2 = new Chart(ctx_2, {
                type: 'doughnut',
                data: data_2,
                options: {
                    maintainAspectRatio: false,
                    legend: {
                        position: 'bottom',
                        labels: {
                            boxWidth: 12
                        }
                    }
                }
            });
  </script>
{% endblock %}
{% block style %}
<style>
  @media (prefers-color-scheme: light) {
    .main_div{
      display:flex;
      flex-direction:row;
      color:black;
      justify-content:center;
      background-color: #eeeeee9e;
    }
  }
  /* Dark mode */
  @media (prefers-color-scheme: dark) {
    .main_div{
      display:flex;
      flex-direction:row;
      justify-content:center;
      color:white;
      background-color: #3333339e;
    }
  }
  .image_holder {
    background-color: #00ff00;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding-left:5%;
    width: 35%;
    margin: auto;
  }
  .analysis{
    display:flex;
    flex-direction:column;
    justify-content:left;
    margin:auto;
    text-align:center;
  }
  .rat_chart{
    height:15vw;
    width:20vw;
  }
  .tone_chart{
    height:20vw;
    width:20vw;
  }
  .details_holder {
    background-color: #ff0000;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding-left:5%;
    width: 65%;
    margin: auto;
    text-align: left;
  }
  .products_details{
    padding-top:2%;
    /*height:50vw;*/
    align-self: stretch;
  }
  .Product_image{
      align: center;
      height: 280px;
      width: 340px;
  }
</style>
{% endblock %}
