{% extends 'base.html' %}
<!-- page title-->
{% block title %}
  Advanced Search
{% endblock %}
{% block page_heading%}
  Laptop Reveiws
  <!--Page heading-->
{% endblock %}
{% block content %}
  <!--providing query to our database -->
  <div class="main_div">
    <div class="form_holder">
    <br>
      <form action ='.' method='POST'>{% csrf_token %}
        <label for="sort">Sort by :</label>
          <select name="sort" id="sort">
          <option value="number_of_reveiws">Number of Reveiws</option>
          <option value="Price_A">Price(Ascending)</option>
          <option value="Price_D">Price(Descending)</option>
          <option value="Rating">Rating</option>
        </select>
        <br>
        <br>
        <label for="price range">Price Range:</label>
          <select name="Price_range" id="Price_range">
          <option value="0,0">Any</option>
          <option value="1,19999">&#60; 20000</option>
          <option value="20000,34999">20000 - 35000</option>
          <option value="35000,44999">35000- 45000</option>
          <option value="45000,64999">45000-65000</option>
          <option value="65000,84999">65000-85000</option>
          <option value="85000,9999">85000-100000</option>
          <option value="100000,-1">&#62; 100000</option>
        </select>
        <br>
        <br>
        <label for="make">Brand:</label>
        <select name="Brand" id="Brand">
          <option value="Any">Any</option>
          {% for i in Brand%}
            <option value="{{i}}">{{i}}</option>

          {%endfor%}
        </select>
        <button class ="Search" type = "submit">Search</button>
        <br>
        <label for="RAM">RAM:</label>
        <div class="Checkbox_list">
        {% for i in RAM%}
          {% if i==-1 %}
          <input class="form-check-input" type="checkbox" name="RAM" value="all" id="{{i}}_RAM">
          <label class="form-check-label" for="{{i}}_RAM">
            All
          </label>
          {% else %}
          <input class="form-check-input" type="checkbox" name="RAM" value={{i}} id="{{i}}_RAM">
          <label class="form-check-label" for="{{i}}_RAM">
            {{i}} GB
          </label>
          {% endif %}
          <br>
        {%endfor%}
        </div>
        <label for="Processor">Processor:</label>
        <div class="Checkbox_list">
        {% for i in Processor%}
          <input class="form-check-input" type="checkbox" name="Processor" value={{i}} id="{{i}}">
          <label class="form-check-label" for="{{i}}">
            {{i}}
          </label>
          <br>
        {%endfor%}
        </div>
        <label for="Processor">Screen Size:</label>
        <div class="Checkbox_list">
        {% for i in screen%}
          <input class="form-check-input" type="checkbox" name="screen" value={{i}} id="{{i}}">
          <label class="form-check-label" for="{{i}}">
            {{i}}
          </label>
          <br>
        {%endfor%}
        </div>
        <label for="Processor">Hard Disk Type:</label>
        <div class="Checkbox_list">
        {% for i in screen%}
          <input class="form-check-input" type="checkbox" name="Hard_disk" value={{i}} id="{{i}}">
          <label class="form-check-label" for="{{i}}">
            {{i}}
          </label>
          <br>
        {%endfor%}
        </div>
        <br>      
      <br>
      </form>
    <br>
    </div>
    <div class="search_display">
          <br>
          <h2>{{query}}</h2>
        {% for i in data%}
        <br>
        <div class="product_details"> 
          <div class="image_holder">
            <img class="Product_image" src="{{i.Images}}" alt="Laptop"></img>    
          </div>
          <br>
          <div class="name_holder">
            <a href="./Product/?code={{i.Product_code}}" style="color: black">
            <h4 class="details_holder">{{i.Product_name|truncatechars:33}}</h4></a>
            <span> <h5 class="details_holder">Price : &#8377; {{i.Price}}</h5></span>
            <span><h5 class="details_holder">Rating :{{i.Rating}} out of 5 ({{i.number_of_reveiws}})</h5></span>
            <br>
          </div>
          <br> 
        </div>
        {% endfor %}
        <br>
        {% if data%}
        <div class="product_details"><h3>That's all we have! :3</h3><br></div><br>
        {% else %}
        <a href="#search_form">
        <div class="product_details"> 
          <br>
          <div class="image_holder">
            <img class="Product_image" src="https://wikiclipart.com/wp-content/uploads/2017/01/Laptop-clipart-pictures-free-images-4.jpg" alt="Priceless Laptop!"></img>    
          </div>
          <br>
          <div class="name_holder">
            <h4 class="details_holder">The Laptop you really really want!</h4>
            <span> <h5 class="details_holder">Price : Priceless</h5></span>
            <span><h5 class="details_holder">Rating :5 out of 5 (A lot of people)</h5></span>
            <h6>SEARCH AGAIN!</h6>
            <br>
          </div>
          <br> 
        </div>
        </a>
        {% endif %}
    </div>
  </div>
{% endblock %}
{% block style %}
  <style>
    @media (prefers-color-scheme: light) {
    .main_div{
      display:flex;
      flex-direction:row;
      color:black;
      justify-content:center;
      background-color: #eeeeee9e;
    }
  }
  /* Dark mode */
  @media (prefers-color-scheme: dark) {
    .main_div{
      display:flex;
      flex-direction:row;
      justify-content:center;
      color:white;
      background-color: #3333339e;
    }
  }
  .form_holder {
    display:flex;
    flex-direction:column;
    width: 25%;
    background-color: #00ff00;
  }
  .search_display{
    padding-left:2%;
    width:70%;
    background-color: #0000ff;
  }
  .product_details {
    display:flex;
    flex-direction:row;
  }
  .image_holder {
    color: white;
    width: 40%;
  }
  .name_holder {
    padding-left:10%;
    width: 60%;
    margin: auto;
    text-align: left;
  }
  .Product_image{
      height: 280px;
      width: 340px;
  }
  .Checkbox_list{
    padding-left:10%;
    margin: auto;
    text-align: left;
  }
  </style>
{% endblock %}